<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.mvc.Final.model.dto.LoginDto" alias="loginDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.HostDto" alias="hostDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.RequireDto" alias="rqDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.ReservationDto" alias="reservationDto"/>

  		<typeAlias type="com.mvc.Final.model.dto.SearchOption" alias="searchOption"/>
  		<typeAlias type="com.mvc.Final.model.dto.RoomTotalDto" alias="roomTotalDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.RoomReservationDto" alias="roomReservationDto"/>

  		<typeAlias type="com.mvc.Final.model.dto.RoomsDto" alias="roomsDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.Rooms_detailDto" alias="rooms_detailDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.Rooms_facilityDto" alias="rooms_facilityDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.Rooms_introDto" alias="rooms_introDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.Rooms_photoDto" alias="rooms_photoDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.Rooms_ruleDto" alias="rooms_ruleDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.Rooms_safetyDto" alias="rooms_safetyDto"/>

  		<typeAlias type="com.mvc.Final.model.dto.ChatDto" alias="chatDto"/>
  		
  		
  	</typeAliases>
  
  
  
  	<!-- resource : src/main/resource 와 연결되어있다.  -->
  	<mappers>
  		<mapper resource="/mybatis/login-mapper.xml" />
  		<mapper resource="/mybatis/mypage-mapper.xml" />
  		<mapper resource="/mybatis/room-mapper.xml" />  
  		<mapper resource="/mybatis/travelmate-mapper.xml" /> 		
  		<mapper resource="/mybatis/chat-mapper.xml" />  		
        <mapper resource="/mybatis/hostrooms-mapper.xml"/>
  	</mappers>
  
  
  
  
  </configuration>
  










