<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="com.mvc.Final.model.dto.LoginDto" alias="loginDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.HostDto" alias="hostDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.RequireDto" alias="rqDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.ReservationDto" alias="reservationDto"/>
  		<typeAlias type="com.mvc.Final.model.dto.SearchOption" alias="searchOption"/>
  	</typeAliases>
  
  
  
  	<!-- resource : src/main/resource 와 연결되어있다.  -->
  	<mappers>
  		<mapper resource="/mybatis/login-mapper.xml" />
  		<mapper resource="/mybatis/mypage-mapper.xml" />
  		<mapper resource="/mybatis/room-mapper.xml" />  		
  	</mappers>
  
  
  
  
  </configuration>
  










