<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="room_search">
	<!-- resultMap -->
	<resultMap type="roomsDto" id="roomsDto">
		<result column="SEQ_RM" property="seq_rm"/>
		<result column="ROOM_NAME" property="room_name"/>
		<result column="ADDR" property="addr"/>
		<result column="PERSON" property="person"/>
		<result column="PRICE" property="price"/>
		<result column="INTRO" property="intro"/>
		<result column="R_TYPE" property="r_type"/>
		<result column="BED_ROOM" property="bed_room"/>
		<result column="BED" property="bed"/>
		<result column="BATH_ROOM" property="bath_room"/>
		<result column="CHECKIN" property="checkin"/>
		<result column="SEQ_H" property="seq_h"/>
	</resultMap>
	<resultMap type="rooms_detailDto" id="rooms_detailDto">
		<result column="SEQ_DETAIL" property="seq_detail"/>
		<result column="ESSENTIAL" property="essential"/>
		<result column="HEATING" property="heating"/>
		<result column="ARICONDITION" property="aircondition"/>
		<result column="IRON" property="iron"/>
		<result column="TV" property="tv"/>
		<result column="SHAMPOO" property="shampoo"/>
		<result column="HAIRDRY" property="hairdry"/>
		<result column="DESK" property="desk"/>
		<result column="CLOSET" property="closet"/>
		<result column="WIFI" property="wifi"/>
		<result column="SEEQ_RM" property="seq_rm"/>	
	</resultMap>
	<resultMap type="rooms_facilityDto" id="rooms_facilityDto">
		<result column="SEQ_FACILITY" property="seq_facility"/>	
		<result column="WASHER" property="washer"/>	
		<result column="DRYER" property="dryer"/>	
		<result column="KITCHEN" property="kitchen"/>	
		<result column="POOL" property="pool"/>	
		<result column="FITNNESS" property="fitness"/>	
		<result column="PARKING" property="parking"/>	
		<result column="SEQ_RM" property="seq_rm"/>	
	</resultMap>
	<resultMap type="rooms_introDto" id="rooms_introDto">
		<result column="SEQ_INTRO" property="seq_intro"/>		
		<result column="TITLE" property="title"/>		
		<result column="CONTEXT" property="context"/>		
		<result column="SEQ_RM" property="seq_rm"/>		
	</resultMap>
	<resultMap type="rooms_ruleDto" id="rooms_ruleDto">
		<result column="SEQ_RULE" property="seq_rule"/>		
		<result column="KID" property="kid"/>		
		<result column="BABY" property="baby"/>		
		<result column="PET" property="pet"/>		
		<result column="SMOKE" property="smoke"/>		
		<result column="PARTY" property="party"/>		
		<result column="SEQ_RM" property="seq_rm"/>		
	</resultMap>
	<resultMap type="rooms_safetyDto" id="rooms_safetyDto">
		<result column="SEQ_SAFETY" property="seq_safety"/>		
		<result column="FIRE_SENSOR" property="fire_sensor"/>		
		<result column="CO_SENSOR" property="co_sensor"/>		
		<result column="E_KIT" property="e_kit"/>		
		<result column="FIRE_OFF" property="fire_off"/>		
		<result column="SEQ_RM" property="seq_rm"/>		
	</resultMap>
	
	<resultMap type="roomTotalDto" id="roomTotalDtoMap">
		<collection property="room" resultMap="roomsDto" />
		<collection property="detail" resultMap="rooms_detailDto" />
		<collection property="facility" resultMap="rooms_facilityDto" />
		<collection property="intro" resultMap="rooms_introDto" />
		<collection property="rule" resultMap="rooms_ruleDto" />
		<collection property="safety" resultMap="rooms_safetyDto" />
	</resultMap>

	<resultMap type="roomTotalDto" id="roomPreDtoMap">
		<collection property="room" resultMap="roomsDto" />
		<collection property="intro" resultMap="rooms_introDto" />
	</resultMap>

	<!-- 숙소검색시 숙소 리스트 -->
	<select id="searchlist" parameterType="searchOption" resultMap="roomPreDtoMap">
		SELECT r.*, d.*
		FROM ROOM r
		JOIN DETAIL d ON (r.SEQ_RM = d.SEQ_RM )
		WHERE r.SEQ_H IN (SELECT SEQ_H FROM HOST WHERE STATE = 'Y')
		AND ADDR LIKE #{local}'%'
		AND PERSON >= #{guestNum}
	</select>

	<!-- 숙소 사진 -->

	<!-- 숙소 정보 -->
	<select id="roomInfo" parameterType="int" resultMap="roomTotalDtoMap">
		SELECT r.*,d.*,f.*,u.*,i.*,s.*
		FROM ROOM r
		JOIN DETAIL d ON(r.SEQ_RM = d.SEQ_RM)
		JOIN FACILITY f ON(r.SEQ_RM = f.SEQ_RM)
		JOIN RULE u ON(r.SEQ_RM = u.SEQ_RM)
		JOIN INTRO i ON(r.SEQ_RM = i.SEQ_RM)
		JOIN SAFETY s ON(r.SEQ_RM = s.SEQ_RM)
		WHERE r.SEQ_RM = #{seq_rm}
	</select>

</mapper>