@charset "UTF-8";

@charset "UTF-8";

._1sx1020z {
    margin: 0px auto !important;
    position: relative !important;
    max-width: 1760px !important;
    padding-right: 80px !important;
    padding-left: 80px !important;
}

._5zlxqj {
    padding-top: 40px !important;
    padding-bottom: 25px !important;
}

._keptov {
    font-size: 22px !important;
    line-height: 26px !important;
    color: rgb(34, 34, 34) !important;
    font-weight: 600 !important;
    margin-bottom: 32px !important;
    margin-left: 24px !important;
}

._ktl7q1k {
    scroll-padding: 16px !important;
    height: 351px !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    overflow-x: auto !important;
    display: flex !important;
    flex-flow: column wrap !important;
    scroll-snap-type: x mandatory !important;
    scroll-padding: 18px !important;
    height: 339px !important;
}

._wrsmntf {
    width: calc(25% - 4px) !important;
    padding-left: 0px !important;
    padding-right: 8px !important;
    padding-bottom: 16px !important;
    padding-right: 8px !important;
    padding-left: 24px !important;
    width: calc(50% - 20px) !important;
    scroll-snap-align: start !important;
    overflow: hidden !important;
    padding-right: 6px !important;
    padding-bottom: 12px !important;
    padding-left: 24px !important;
    width: calc(100% - 54px) !important;
}

._9ofhsl {
    height: 100% !important;
    width: 100% !important;
    position: static !important;
}

._1tp1o9s {
    -webkit-box-align: center !important;
    font-size: 16px !important;
    line-height: 20px !important;
    color: rgb(34, 34, 34) !important;
    display: flex !important;
    align-items: center !important;
}

._1h6n1zu {
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

._15p4g025 {
    display: none !important;
    background-image: none !important;
    display: inline-block !important;
    vertical-align: bottom !important;
    height: 100% !important;
    width: 100% !important;
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

/**************************************************************************/

.block-17 form .fields .one-third:nth-child(2) {
	border-right: none;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.location-container {
	display : none;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

._uz7gpd {
	font-size : 16px;
}


.grid-location-Popup {
	background-color : white;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px 5px;
	padding: 10px;
	border-radius: 10px;
	background-color: white;
}

.grid-location-Popup>div {
	border-radius: 5px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	text-align: center;
	font-size: 30px;
	cursor: pointer;
	width: 95%;
}

.grid-location-Popup>div>p:hover {
	background-color: #f85959;
	color: white;
}

.grid-location-Popup>div:hover {
	background-color: #f85959;
}

.grid-location-Popup>div>p {
	color: black;
	font-weight: bold;
	font-size: 20px;
	cursor: black;
	margin-top: 15px;
}

.placeimg1 {
	width: 150px;
	height:150px;	
}

.placeimg2 {
	width: 150px;
	height : 150px;
}

._62ifho {
	width: 40%;
    margin-left: 200px;
    font-size: 20px;
    color: black;
}

._62ifho2 {
	width: 40%;
    margin-left: 55%;
    margin-top: -380px;
    font-size: 20px;
    color: black;
}

._4gelgl {
	color : black;
}

._gleq3r {
	width : 48px;
	height : 48px;
}

._19h11reb {
	margin-top : 50px;
}

._audx11w {
	width: 270px;
	height : 160px;
}

._x2xwu5 {
	margin-left : 10%;
}

._a43cb3 {
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 800 !important;
    margin-top: 32px !important;
    margin-bottom: 8px !important;
}
._1qikkmp {
	margin-top:20px;
	font-size: 20px;
    color: black;
}
._1waicp6g1 {
	margin-top: 50px;
    margin-left: 10%;
    width: 18%;
}
._1waicp6g2{
	width: 18%;
    margin-left: 31%;
    margin-top: -303px;
}

._1waicp6g3{
	margin-top:-303px;
    width: 18%;
    margin-left: 52%;
}
._1waicp6g4{
	margin-top:-303px;
    margin-left: 73%;
    width: 18%;
}
.ftco-section {
	background : white;
}

.vertical-lane {
	border-bottom : 1px solid lightgray;
	width : 80%;
	margin-left:10%;
}

.vertical-lane2 {
	border-bottom : 1px solid lightgray;
	width : 80%;
	margin-left:10%;
}

._1waicp6h1 {
	 width: 19%;
    margin-left: 13%;
    margin-top: 5%;
}

._1waicp6h2 {
	width: 18%;
    margin-left: 40%;
    margin-top:-200px;
}

._1waicp6h3 {
	 width: 19%;
    margin-top:-220px;
    margin-left: 67%;
}

._1n5q9rj {
	margin-left: 10%;
    margin-top: 3%;
}

._11iw9ko {
	border : none;
	outline : none;
    font-size: 18px !important;
    line-height: 24px !important;
    font-weight: 800 !important;
    position: relative !important;
    padding-right: 32px !important;
    cursor: pointer !important;
}

._psavrr {
	position: absolute !important;
    right: 8px !important;
    top: 3px !important;
}

._4q962a {
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    border-bottom: solid 1px lightgray !important;
    width : 80%;
}

._1bv8neuu2 {
	margin-left: 50%;
    margin-top: -4%;
}

._1u9fru1 {
	color : black;
	font-size :15px;
	display:none;
	margin-top: 2%;
}

._njl8u63 {
	color : black;
	font-weight : bold;
	font-size : 15px;
	border-bottom : solid 1px black;
}
._4gelgl {
	color : black;
	font-size : 15px;
}

._1d379t3 {
	background-color: #ffffff !important;
	max-width: 460px !important;
	height: 165px; border-radius : 4px !important;
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.12) !important;
	margin-left: 55%;
	border-radius: 4px !important; box-shadow : 0 12px 40px rgba( 0, 0, 0,
	0.12) !important; margin-left : 55%;
	margin-top: -285px;
}

._18nvpe4 {
	font-size: 20px !important;
	line-height: 40px !important;
	letter-spacing: -0.6px !important;
	padding-top: 5%;
}

._1292pe3 {
	font-size: 16px !important;
	line-height: 22px !important;
	letter-spacing: normal !important;
	color: #484848 !important;
	font-weight: bold;
}

._1rejcqnw {
	position: relative !important;
	color: #484848 !important;
	background-color: #fff !important;
	padding: 0px !important;
	border-color: #dce0e0 !important;
}

._9hxttoo {
	display: block !important;
	width: 100% !important;
}

._67e5n4c {
	cursor: pointer !important;
	display: inline-block !important;
	margin: 0px !important;
	position: relative !important;
	text-align: center !important;
	text-decoration: none !important;
	border-color: black !important;
	-ms-touch-action: manipulation !important;
	touch-action: manipulation !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		Helvetica Neue, sans-serif !important;
	font-size: 16px !important;
	line-height: 20px !important;
	font-weight: 600 !important;
	border-radius: 8px !important;
	border-width: 1px !important;
	border-style: solid !important;
	outline: none !important;
	padding-top: 20px !important;
	padding-bottom: 14px !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
	-webkit-transition: box-shadow 0.2s ease, -webkit-transform 0.1s ease,
		transform 0.1s ease !important;
	-moz-transition: box-shadow 0.2s ease, transform 0.1s ease !important;
	transition: box-shadow 0.2s ease, -ms-transform 0.1s ease,
		-webkit-transform 0.1s ease, transform 0.1s ease !important;
	border: none !important;
	background: -webkit-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%)
		!important;
	background: -moz-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%)
		!important;
	background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%)
		!important;
	color: #FFFFFF !important;
	width: 100% !important;
}

._x6yudic {
	padding-left: 8px !important;
	padding-right: 8px !important;
	min-height: 1px !important;
	position: relative !important;
	width: 30%;
	margin-left: 15%;
}

._hth {
	font-size: 20px;
	color: black;
}

.h101 {
	margin-top: 3%;
	font-size: 55px !important;
	line-height: 64px !important;
	letter-spacing: -2.5px !important;
	padding-left: 40%;
}

.h1_vertical {
	border-bottom: 1px solid black;
	border-bottom-width: 4px;
	width: 20%;
	margin-left: 40%;
}

.h1_vertical_1 {
	border-bottom: 1px solid black;
	border-bottom-width: 4px;
	width: 27%;
	margin-left: 40%;
}

.h1_vertical_2 {
	border-bottom: 1px solid black;
	border-bottom-width: 4px;
	width: 20%;
	margin-left: 39%;
}

._18i9dnc1 {
	margin-bottom: 48px;
	width: 20%;
	margin-left: 15%;
	margin-top: 3%;
}

._18i9dnc2 {
	margin-bottom: 48px;
	width: 21%;
	margin-left: 38%;
	margin-top: -230px;
}

._18i9dnc3 {
	margin-bottom: 0;
	width: 20%;
	margin-left: 63%;
	margin-top: -260px;
}

.hostStage {
	color: black;
	font-size: 17px;
}

._1y6miqcb {
	color: black;
	font-weight: bold;
	font-size: 16px;
}

._1ezjrwzo {
	width: 70%;
	margin-top: 3%;
	margin-left: 15%
}

.host_1 {
	font-size: 19px;
	color: black;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		Helvetica Neue, sans-serif !important;
}

._1ezjrwzo1 {
	margin: 0px !important;
	word-wrap: break-word !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		Helvetica Neue, sans-serif !important;
	font-size: 20px !important;
	font-weight: 400 !important;
	line-height: 1.75em !important;
	color: #484848 !important;
}

._gi8hr2n {
	margin-top: 2%;
	margin-left: 15%;
}
._s1tlw0m {
	font-size : 27px;
}
._s1tlw0m_2 {
	margin: 0px !important;
	word-wrap: break-word !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		Helvetica Neue, sans-serif !important;
	font-size: 24px !important;
	font-weight: 800 !important;
	line-height: 1.25em !important;
	color: #484848 !important;
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}

._6qkc42f_1>p {
	font-size: 20px;
	color: black;
}

._93jfumr_1 {
	width: 20%;
	margin-left: 15%;
	margin-top: 3%;
}

._93jfumr_2 {
	width: 20%;
	margin-left: 39%;
	margin-top: -280px;
}

._93jfumr_3 {
	width: 20%;
	margin-left: 63%;
	margin-top: -280px;
}

._b0ybw8s {
	color: var(- -color-text-link, #008489) !important;
	font-family: var(- -font-font_family, Circular, -apple-system,
		BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif) !important;
	text-decoration: var(- -font-link-text-decoration, none) !important;
	color: #008489 !important;
    font: inherit !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-decoration: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent !important;
    border: 0px !important;
    outline : 0px !important;
    cursor: pointer !important;
    margin: 0px !important;
    padding: 0px !important;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    text-align: left !important;
}

._6304x0 {
	font-size : 20px;
	font-weight : bold;
}

._1okh7pi0 {
	width: 60%;
    border-bottom: 1px solid #EBEBEB !important;
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content_1 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height : 320px;
}

.modal-content_2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  height : 450px;
}

.close_1 {
  color: #aaaaaa;
  float: right;
  margin-top : -3%;
  font-size: 40px;
  font-weight: bold;
}

.close_1:hover,
.close_1:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

._965fne {
   height: 375px !important;
    max-width: 1280px !important;
    background-size: cover !important;
    background-position: center !important;
    margin: auto !important;
    position: relative !important;
}

._18xfr7x {
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    position: absolute !important;
    z-index: -1 !important;
    border-radius : 5px;
}


._xviceb {
    font-size: 50px !important;
    line-height: 64px !important;
    letter-spacing: -2.5px !important;
    max-width: 430px !important;
    font-weight : 600;
    margin-left: 5%;
    padding-top: 5%;
    color : white;
}

._1ho3i4mw {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    color: #484848 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 800 !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: transparent !important;
    background: #ffffff !important;
    box-shadow: none !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
    min-width: 71.19349550499538px !important;
}
