@charset "UTF-8";

._mwt4r90 {
    margin-left: auto !important;
    margin-right: auto !important;
    width: auto !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
}

._q2lefcr {
    margin-bottom: 64px !important;
}

._1s0x53z {
    text-align: center !important;
}
._1p3joamp {
    margin: 0px !important;
    word-wrap: break-word !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 1.375em !important;
    color: #484848 !important;
}
._1q78nw {
    font-size: 60px !important;
    line-height: 64px !important;
    letter-spacing: -2.5px !important;
}
._rh3vpp {
    margin-top: 32px !important;
}
._13rqj3z {
    max-width: 680px !important;
    margin: 0 auto !important;
}
._wvg5k5 {
    font-size: 20px !important;
    line-height: 30px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    color: #484848 !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-weight: normal !important;
}

.policyimg {
	width: 70%;
    margin-left: 15%;
}

h5.faqHeaders {
    font-weight: 600 !important;
    margin-bottom: 0 !important;
    font-size: 20px !important;
    margin-top : 2%;
}

._helpText {
	font-size : 17px;
	margin-top:1%;
}

._18xfr7x {
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    position: absolute !important;
    z-index: -1 !important;
    border-radius : 5px;
}


._xviceb {
    font-size: 50px !important;
    line-height: 64px !important;
    letter-spacing: -2.5px !important;
    max-width: 430px !important;
    font-weight : 600;
    margin-left: 65%;
    padding-top: 5%;
    color : white;
}

._1ho3i4mw {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    text-transform: undefined !important;
    color: #484848 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-weight: 800 !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: transparent !important;
    background: #ffffff !important;
    box-shadow: none !important;
    padding-left: 22px !important;
    padding-right: 22px !important;
    min-width: 71.19349550499538px !important;
}


._965fne {
   height: 375px !important;
    max-width: 1280px !important;
    background-size: cover !important;
    background-position: center !important;
    margin: auto !important;
    position: relative !important;
}