@charset "UTF-8";

._p9b9hl {
	color: #222222 !important;
	padding-top: 64px !important;
}

._10qs2gf {
	max-width: 1440px !important;
	padding-left: 80px !important;
	padding-right: 80px !important;
	-webkit-box-lines: multiple !important;
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	-webkit-box-align: stretch !important;
	-ms-flex-align: stretch !important;
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-align-items: stretch !important;
	align-items: stretch !important;
	-webkit-justify-content: flex-start !important;
	justify-content: flex-start !important;
	-webkit-flex-wrap: wrap !important;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
	width: 100% !important;
	padding-left: 24px !important;
	padding-right: 24px !important;
	margin-left: 5% !important;
	margin-right: auto !important;
}

._104udsy {
	font-size: 46px !important;
	line-height: 1.1 !important;
	font-weight: 600 !important;
	margin-bottom: 48px !important;
}

._1fltws1w {
	width: 33.33333333333333% !important;
	position: relative !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
}

._1wyt0rh {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

._1l530hj {
	font-weight: 600 !important;
	font-size: 25px !important;
	line-height: 26px !important;
	margin-top: 5%;
	letter-spacing: 1px;
}

._65m2yz {
	color: #717171 !important;
	font-size: 16px !important;
	line-height: 25px !important;
	width: 90%;
	margin-top: 5%;
	color: black !important;
}

._gleq3r {
	width: 48px;
	height: 48px;
}

._1npwuzb {
	width: 100% !important;
	padding-top: 64px !important;
	border-bottom: 1px solid lightgray !important;
}

._1our64j {
	color: #222222 !important;
	padding-top: 80px !important;
}

._1bpiufr {
	-webkit-box-lines: multiple !important;
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	-webkit-box-align: stretch !important;
	-ms-flex-align: stretch !important;
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-align-items: stretch !important;
	align-items: stretch !important;
	-webkit-justify-content: flex-start !important;
	justify-content: flex-start !important;
	-webkit-flex-wrap: wrap !important;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
	width: -webkit-calc(100% + 12px) !important;
	width: -moz-calc(100% + 12px) !important;
	width: calc(100% + 12px) !important;
	max-width: 100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	padding-left: -webkit-calc(24px - 6px) !important;
	padding-left: -moz-calc(24px - 6px) !important;
	padding-left: calc(24px - 6px) !important;
	padding-right: -webkit-calc(24px - 6px) !important;
	padding-right: -moz-calc(24px - 6px) !important;
	padding-right: calc(24px - 6px) !important;
}

._nj2jbmm {
	position: relative !important;
	width: 100% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding-left: 6px !important;
	padding-right: 6px !important;
}

._1h6n1zu {
	background-position: 50% 50% !important;
	background-repeat: no-repeat !important;
}

._792k0r1 {
	height: 100% !important;
	width: 100% !important;
	position: static !important;
}

._ktis7yb {
	padding-left: 8px !important;
	padding-right: 8px !important;
	width: 41.66666666666667% !important;
	margin-left: 8.333333333333332% !important;
	margin-right: 8.333333333333332% !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
	position: relative !important;
	width: 35% !important;
	margin-left: 50% !important;
	margin-top: -32%;
	margin-right: 0% !important;
	padding-left: 6px !important;
	padding-right: 6px !important;
}

._104udsyy {
	font-size: 45px !important;
	line-height: 1.1 !important;
	font-weight: 600 !important;
	margin-bottom: 48px !important;
}

._auahg6 {
	font-weight: 600 !important;
	font-size: 22px !important;
	line-height: 26px !important;
}

._gdr48d {
	color: black !important;
	margin-bottom: 32px !important;
	font-size: 18px !important;
	line-height: 25px !important;
}

._1fjpouo9 {
	margin-left: 15%;
	margin-top: -9%;
}

._gleq3rr {
	width: 48px;
	height: 48px;
}

.vertical-lane2 {
	border-bottom: 1px solid lightgray;
	width: 96%;
	margin-top: 5%;
}

/*/////////////////////////////////////자주묻는 질문///////////////////////////////////////////*/
._1n5q9rj {
	margin-left: 10%;
	margin-top: 3%;
}

.vertical-lane {
	border-bottom: 1px solid lightgray;
	width: 80%;
	margin-left: 10%;
}

._1bv8neuu2 {
	margin-left: 50%;
	margin-top: -4%;
}

._4q962a {
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		Helvetica Neue, sans-serif !important;
	padding-top: 24px !important;
	padding-bottom: 24px !important;
	border-bottom: solid 1px lightgray !important;
	width: 80%;
}

._11iw9ko {
	border: none;
	outline: none;
	font-size: 18px !important;
	line-height: 24px !important;
	font-weight: 800 !important;
	position: relative !important;
	padding-right: 32px !important;
	cursor: pointer !important;
}

._psavrr {
	position: absolute !important;
	right: 8px !important;
	top: 3px !important;
}

._1u9fru1 {
	color: black;
	font-size: 15px;
	display: none;
	margin-top: 2%;
}

._yrkkxv {
	color: #222222 !important;
	padding-top: 80px !important;
	padding-bottom: 80px !important;
}

._1bpiufr {
	-webkit-box-lines: multiple !important;
	-webkit-box-pack: start !important;
	-ms-flex-pack: start !important;
	-webkit-box-align: stretch !important;
	-ms-flex-align: stretch !important;
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-align-items: stretch !important;
	align-items: stretch !important;
	-webkit-justify-content: flex-start !important;
	justify-content: flex-start !important;
	-webkit-flex-wrap: wrap !important;
	-ms-flex-wrap: wrap !important;
	flex-wrap: wrap !important;
	width: -webkit-calc(100% + 12px) !important;
	width: -moz-calc(100% + 12px) !important;
	width: calc(100% + 12px) !important;
	max-width: 100% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	padding-left: -webkit-calc(24px - 6px) !important;
	padding-left: -moz-calc(24px - 6px) !important;
	padding-left: calc(24px - 6px) !important;
	padding-right: -webkit-calc(24px - 6px) !important;
	padding-right: -moz-calc(24px - 6px) !important;
	padding-right: calc(24px - 6px) !important;
}

._162hp8xh {
	position: relative !important;
	width: 40.66666666666667% !important;
	margin-right: 8.333333333333332% !important;
	margin-left: 8% !important;
	padding-left: 6px !important;
	padding-right: 6px !important;
}

._1l7pkgr {
	margin-top: 40px !important;
}

._104udsy {
	font-size: 46px !important;
	line-height: 1.1 !important;
	font-weight: 600 !important;
	margin-bottom: 48px !important;
}

._oipu009 {
	cursor: pointer !important;
	display: inline-block !important;
	margin: 0px !important;
	position: relative !important;
	text-align: center !important;
	text-decoration: none !important;
	border-color: black !important;
	width: auto !important;
	-ms-touch-action: manipulation !important;
	touch-action: manipulation !important;
	font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
		Helvetica Neue, sans-serif !important;
	font-size: 18px !important;
	line-height: 24px !important;
	font-weight: 600 !important;
	border-radius: 8px !important;
	border-width: 1px !important;
	border-style: solid !important;
	outline: none !important;
	padding-top: 16px !important;
	padding-bottom: 16px !important;
	padding-left: 32px !important;
	padding-right: 32px !important;
	-webkit-transition: box-shadow 0.2s ease, -webkit-transform 0.1s ease,
		transform 0.1s ease !important;
	-moz-transition: box-shadow 0.2s ease, transform 0.1s ease !important;
	transition: box-shadow 0.2s ease, -ms-transform 0.1s ease,
		-webkit-transform 0.1s ease, transform 0.1s ease !important;
	border: none !important;
	background: -webkit-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%)
		!important;
	background: -moz-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%)
		!important;
	background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%)
		!important;
	color: #FFFFFF !important;
}

._163rr5i {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
	right: 0px !important;
	bottom: 0px !important;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden !important;
	-webkit-mask-image: -webkit-radial-gradient(white, black) !important;
	border-radius: 8px !important;
}

._tcp689 {
	display: block !important;
	position: relative !important;
	pointer-events: none !important;
}

._19xnuo97 {
	padding-left: 8px !important;
	padding-right: 8px !important;
	width: 42% !important;
	position: relative !important;
	margin-left : -5%;
}

._1h6n1zu {
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
}

._792k0r1 {
    height: 100% !important;
    width: 100% !important;
    position: static !important;
}